/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log
.direnv/
.envrc
.ruby-version
.chef
local/
.vscode/
.chef/
test/e2e/results/
test/e2e/my-e2e.env
test/e2e/*.env
!test/e2e/e2e.env.example
